.colorPickerHomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}
.colorPickerFormContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
}
.colorPickerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}
  
.header {
  text-align: center;
  margin-top: 150px;
  font-size: 2.5rem;
}

.rgbContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.chosenColorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;
  background-color: gray;
  margin-bottom: 20px;
  border-radius: 5px;
}
.chosenColor {
  border-radius: 50px;
  width: 100px;
  height: 60px;
}

.colorContainer {
  display: flex;
  flex-direction: column;
}

.colorLabelRed {
  align-self: center;
  color: red;
}
.colorLabelGreen {
  align-self: center;
  color: green;
}
.colorLabelBlue {
  align-self: center;
  color: blue;
}
  
.colorInputRed {
  text-align: center;
  padding: 10px 0px;
  border-radius: 3px;
  border: solid 1px grey;
  box-shadow: none;
  outline: none;
  width: 50px;
}
  
.colorInputRed:focus {
  border-color: red;
}

.colorInputGreen {
  text-align: center;
  padding: 10px 0px;
  border-radius: 3px;
  border: solid 1px grey;
  box-shadow: none;
  outline: none;
  width: 50px;
}
  
.colorInputGreen:focus {
  border-color: green;
}
  
.colorInputBlue {
  text-align: center;
  padding: 10px 0px;
  border-radius: 3px;
  border: solid 1px grey;
  box-shadow: none;
  outline: none;
  width: 50px;
}
  
.colorInputBlue:focus {
  border-color: blue;
}

.button {
  height: 50px;
  width: 100px;
  outline: none;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  font-size: 1rem;
  font-weight: 400;
  border-style: solid;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 0.5px;
  border-radius: 0 3px 3px 0;
  border-width: 1px;
  background-color: #830051;
  border-color: #830051;
  color: white;
  cursor: pointer;
}

.savedPaletteContainer {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.savedPalettesHeader {
  text-align: center;
  margin-top: 50px;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}